@page{
    size: A4;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  body > div:nth-last-of-type(1) {
    align-self: flex-end;
    width: 100%;
    padding-bottom: 30px;
  }

  body > div:nth-of-type(2) {
    flex-grow: 1;
  }

  header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #logo {
    height: 100px;
    width: 100px;
    margin-top: 20px;
  }

  hr {
    border: 1px solid#000;
    margin-inline: 5px;
  }

  .payment-reference-header {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  .base-data-section {
    padding-inline: 5px;
    margin-top: 40px;
  }

  .base-data-text {
    /* font-size: 20px; */
    font-weight: 600;
  }

  .base-data-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 15px;
    gap: 20px;
  }

  #profile_pic {
    height: 150px;
    width: 150px;
  }

  .base-data-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
  }

  .base-data-name {
    min-width: 15ch;
  }

  #qr_code {
    height: 100px;
  }

  .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  .header {
    flex-basis: 95%;
    text-align: left;
    display: flex;
    justify-content: center;
  }
  .school {
    color: rgb(122, 158, 134);
    font-size: 30px;
  }
  .payment-data-section {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-inline: 5px;
    margin-top: 40px;
  }

  .payment-data-text {
    font-weight: 600;
  }

  .payment-data-field-container {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
  }

  .base-data-img {
    padding: 0 15px;
    width: 20%;
  }
  .base-data-img img {
    /* border-radius: 50%; */
  }
  .base-data-field-name {
    padding: 0 15px;
    width: 20%;
  }
  .base-data-field-data {
    padding: 0 15px;
    width: 45%;
  }
  .qr {
    padding: 0 15px;
    width: 15%;
  }
  .payment-data-field-name {
    padding: 0 15px;
    width: 50%;
  }
  .payment-data-field-data {
    padding: 0 15px;
    width: 50%;
  }
  footer {
    box-sizing: border-box;
    width: 100%;
  }
  .footer-info {
    margin: 0 auto;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    padding-inline: 5px;
  }
  .block-1 {
    align-self: flex-start;
    width: 30ch;
  }
  .block-2 {
    align-self: flex-end;
    text-align: right;

  }
