{% extends 'admin_templates/base_template.html' %}

{% block page_title %}
    Add Staff
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-secondary" href="{% url 'manage_staff' user_school_id %}" role="button"> &larr; Back</a> <br/>&nbsp;

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Staff</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'add_staff_save' user_school_id %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">              
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" required name="first_name" placeholder="First Name">
                            </div>

                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" required name="last_name" placeholder="Last Name">
                            </div>

                            <div class="form-group">
                                <label>Other Names</label>
                                <input type="text" class="form-control" name="other_names" placeholder="Other Names">
                            </div>

                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" name="email" placeholder="Enter email" id="id_email">
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <div class="input-group mb-3">
                                <input type="password" class="form-control" id="id_password" name="password" required placeholder="Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-eye" style="cursor: pointer; color: #7a797e" id="eye" onclick="toggle()"></span>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Gender</label>
                                <select name="gender" class="form-control">
                                {% for gender in gender_data %} 
                                    <option value="{{ gender.0 }}"> {{ gender.1 }}</option>
                                {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Phone Number</label>
                                <input id="id_phone_number" type="text" class="form-control" name="phone_number" placeholder="2348100000000">
                            </div>
                   

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Add Staff</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>
      
      <script>
        var state = false;
        function toggle(){
            if(state){
            document.getElementById("id_password").setAttribute("type","password");
            document.getElementById("eye").style.color='#7a797e';
            state = false;
            }
            else{
            document.getElementById("id_password").setAttribute("type","text");
            document.getElementById("eye").style.color='#5887ef';
            state = true;
            }
        }

      </script>
  {% endblock main_content %}

{% block custom_js %}

<script>
             
    $('form').submit(function(e) {

    passwordEle = document.getElementById('id_password')
    phoneNumEle = document.getElementById('id_phone_number')

    const validatePassword = (password) => {
        if (password.length > 0 && !password.match(/^[a-z0-9]{6,}+$/i)) {
            $("<span id='password_error' style='color: red; padding: 5px; font-weight: bold;'> Enter at least 6 alphanumeric characters </span>").insertAfter("#id_password")
            setInterval(() => {
                document.getElementById('password_error').remove()
            }, 3000)

            e.preventDefault()

            throw new Error('invalid password format')
        }
    }

    const validatePhoneNum = (phoneNum) => {
        if (phoneNum.length > 0 && !phoneNum.match(/^\d{11}$/)) {
            $("<span id='phone_number_error' style='color: red; padding: 5px; font-weight: bold;'> Phone number is not valid </span>").insertAfter("#id_phone_number")
            setInterval(() => {
                document.getElementById('phone_number_error').remove()
            }, 3000)

            e.preventDefault()

            throw new Error('invalid phone number format')
        }
    }  
    
    validatePassword(passwordEle.value)
    validatePhoneNum(phoneNumEle.value)  
    });

   
</script>
    
{% endblock custom_js %}