<form role="form" method="POST" action="{{ action_path }}" enctype="multipart/form-data" id="my_form">
    {% csrf_token %}

    
            {% comment %} Display Messages {% endcomment %}
            {% if messages %}
            <div class="form-group">
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% elif message.tags == "success" %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            </div>
            {% endif %}

    <div class="card-body">
        
        {% comment %} Adding Form with All inputs Here {% endcomment %}

        {% for field in form %}
        {% if field == form.password %}
        <div class="form-group">

            {{ field.errors }}
            {{ field.label_tag }}
            <div class="input-group mb-3">
                {{ field }}
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-eye" style="cursor: pointer; color: #7a797e" id="eye" onclick="toggle()"></span>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="form-group">

            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}

        </div>
    {% endif %}
        {% endfor %}

        


    </div>
    <!-- /.card-body -->

    <div class="card-footer">
    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
    </div>
</form>