{% extends 'admin_templates/base_template.html' %}
{% block page_title %}
Manage Fee
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    {% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_fee' user_school_id %}" role="button">+ Add Fee</a> <br/>&nbsp;

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                                

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Fee Details</h3>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Fee Name</th>
                      <th>Class(es)</th>
                      <th>Fee Amount</th>
                      <th>Term</th>
                      <th>Custom ID</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for fee in fee_list %}
                    <tr>
                      <td>{{ fee.id }}</td>
                      <td>{{ fee.fee_name }}</td>
                      <td>
                      {% for course in fee.course_id.all %}
                      <li>{{ course }}</li>
                      {% endfor %}
                      </td>
                      <td>{{ fee.fee_amount }}</td>
                      <td>{{ fee.term }}</td>
                      <td>{{ fee.custom_id }}</td>
                      <td>
                        <a href="{% url 'edit_fee' user_school_id fee.id %}" class="btn btn-success">Edit</a>
                        <a href="#" data-href="{% url 'delete_fee' user_school_id fee.id %}" class="btn btn-danger preDeleteBtn" data-toggle="modal" data-target=".bd-example-modal-sm">Delete</a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <div id="preDeleteModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div id="preDeleteModalContent" class="mb-3 mt-1 text-center">
                  </div>
                  <div class="d-flex justify-content-center mb-3">
                    <button type="button" id="cancelBtn"id="" class="btn btn-secondary btn-sm btn-success mr-3" data-dismiss="modal">cancel</button>
                    <a type="button" id="deleteBtn" class="btn btn-sm btn-danger">delete</a>
                  </div>
              </div>    
          </div>
          
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

{% block custom_js %}

    <script>

    $(document).on('click', '.preDeleteBtn', e => {
        const href = e.target.dataset.href
        // set modal message
        const modalMsgEl = document.getElementById('preDeleteModalContent')
        modalMsgEl.innerText = `Are you sure you want to delete?`
        // set href attribute of delete button
        const deleteBtnEl = document.getElementById('deleteBtn')
        deleteBtnEl.setAttribute('href', href)
        $("#preDeleteModal").modal('show')

    } )

    $(document).on('click', '#deleteBtn', e => {
        $("#preDeleteModal").modal('hide')
    })
    </script>

{% endblock custom_js %}