{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Search Subject
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


          <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                {% if searched %}
                <h3 class="card-title">You Searched For {{ searched }}</h3>
                {% else %}
                <h3 class="card-title">Search Subject ...</h3>
                {% endif %}
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <form action="{% url 'subject_search' %}" method="post">
                      {% csrf_token %}
                    <input type="search" aria-label="Search" name="searched" class="form-control float-right" placeholder="Search Subject">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Subject Name</th>
                      <th>Class</th>
                      <th>Staff Name</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for subject in subject_search %}
                    <tr>
                      <td>{{ subject.id }}</td>
                      <td>{{ subject.subject_name }}</td>
                      <td>{{ subject.course_id.course_name }}</td>
                      <td>{{ subject.staff_id.first_name }} {{ subject.staff_id.last_name }}</td>
                      <td><a href="/edit_subject/{{ subject.id }}" class="btn btn-success">Edit</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
