{% extends 'student_templates/base_template.html' %}
{% block page_title %}
Make Payment
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Make Payment Test Page</h3>
              </div>
              <!-- /.card-header -->

                <div class="card-body">
                  <div class="form-group">
                    
                      <p>Fee Details</p>
                      <li>{{payment.fee_id.fee_name}}</li>
                      <li>{{payment.fee_id.custom_id}}</li>
                      <li>{{payment.fee_id.fee_amount}}</li>
                      <li>{{payment.fee_id.fee_email}}</li>
                      {% if payment.fee_id.term != "Not Term-related" %}
                        <li>{{payment.fee_id.term}}</li>
                      {% endif %}
                  </div>
                   <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <script src="https://js.paystack.co/v1/inline.js"></script>
                  <button class="btn  btn-success" onclick="payWithPayStack()" id="django-paystack-button">Make Payment</button>
                </div>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
    <script>
      function payWithPayStack(){
          let currency = "NGN";
          let plan = "";
          let ref = "{{ payment.ref }}"
          let obj = {
              key: "{{ paystack_public_key }}",
              email: '{{ payment.fee_id.fee_email }}',
              amount: '{{ payment.amount_value }}',
              ref : ref,
              callback: function(response){
                  window.location.href = "{% url 'verify_payment' payment.ref %}";
              }
          }
  
          if (Boolean(currency)){
              obj.currency = currency.toUpperCase()
          }
          if (Boolean(plan)){
              obj.plan = plan;
          }
          var handler = PaystackPop.setup(obj);
          handler.openIframe();
      }
  </script>
{% endblock main_content %}

