<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Payment PDF</title>

    <style>
        header {
            position: relative;
            width: 100%;
        }
        img {
            height: 100px;
            width: 100px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
</head>
<body>
    
    <header>
        <img src="https://api.freelogodesign.org/assets/thumb/logo/8868243_400.png?t=637836625160000000" alt="school logo" class="school_logo">
    </header>
    
</body>
</html>