{% extends 'student_templates/base_template.html' %}

{% block page_title %}
    Update Profile
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Update Profile</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'edit_student_profile' user_school_id %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            <div class="form-group">
                                <label>School ID </label>
                                <input type="text" class="form-control" name="user_school_id" value="{{ user_school_id }}" disabled="disabled" readonly>
                            </div>

                            <div class="form-group">
                                <label>First Name </label>
                                <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                            </div>

                            <div class="form-group">
                                <label>Last Name </label>
                                <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                            </div>

                            <div class="form-group">
                                <label>Other Names </label>
                                <input type="text" class="form-control" name="other_names" value="{{ user.other_names }}">
                            </div>

                            <div class="form-group">
                                <label>Email </label>
                                <input type="text" class="form-control" name="email" value="{{ user.email }}">
                            </div>

                            <div class="form-group">
                                <label>Password </label>
                                <input type="text" class="form-control" name="password" placeholder="Fill only if you want to change Password.">
                            </div>

                            <div class="form-group">
                                <label>Gender</label>
                                <select name="gender" class="form-control">
                                {% for gender in gender_data %} 
                                    <option value="{{ gender.0 }}" {% if user.gender == gender.0 %} selected {% endif %}> {{ gender.1 }}</option>
                                {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Phone Number </label>
                                <input type="text" name="phone_number" class="form-control"  value="{{ user.phone_number }}"></input>
                            </div>

                            <div class="form-group">
                                <label> Address </label>
                                <textarea name="address" class="form-control" rows="5">{{ student.address }}</textarea>
                            </div>

                            
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}